@import '../node_modules/@pnotify/mobile/dist/PNotifyMobile.css';
@import '../node_modules/@pnotify/core/dist/PNotify.css';
@import '../node_modules/material-design-icons/iconfont/material-icons.css';


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
   font-size: 30px;
  background-image: url('./images/bg-pattern.png');
}
.container {
  padding: 20px;
}
.seach-country {
    display: block;
    margin: 50px auto 0 50px;
    border-radius: 4px;
    border-width: 3px;
    width: 600px;
    height: 50px;
    font-size: 25px;
    padding-left: 30px;
}
.country_name {
  text-align: center;
}

.country_item {
 width: 900px;
}

.flag__image {
  display: block;
  max-width:70%;
  max-height: 70%;
}

.bold_font_text {
  font-weight: bold;
}
.entry {
  display: flex;
  padding-left: 30px;
}
.country_flag {
  margin-left: 10%;
}